asgiref==3.6.0
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==39.0.2
Django==4.1.7
django-cors-headers==3.14.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
pdfminer.six==20221105
pdfplumber==0.8.0
Pillow==9.4.0
pycparser==2.21
python-dotenv==1.0.0
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
Wand==0.6.11
